<div class="table table-hover">
 <div class='row'>
    <div class="col-md-12">
        <img class="mb-4" src= 'https://i.pinimg.com/originals/ab/b0/0d/abb00d63eac4b40cde91b99b480eb0f8.jpg' alt="" width="1000" height="600">
        <h1>About the resource</h1>
        <em>Dear site visitors, we offer you our new project!
        We dedicate it to one of the most exciting things to do - reading.
        </em>
        <span style="font-family: Arial;">
          If you want to speak beautifully and competently, express your thoughts clearly and reasonably - read as much as possible!
          Thinking is a verbal process. We think by speaking our thoughts. Therefore, expressing them as accurately as possible is very important for everyone, regardless of occupation,
          and "physicists" and "lyricists". So read more to get smarter. In addition, we are pleased to provide you with a discussion platform,
          where you can discuss the works you like, or vice versa, not like. We look forward to your thoughtful reviews and emotional feedback.
          We will be glad to both connoisseurs of great literature and bibliophiles, as well as avid fiction writers and novice readers who are not yet sophisticated.
          Your recommendations will be very valuable to all reading lovers. Join us!
          In the future, the site will be able to both read and download various literature.
        </span>
        <p>Telephones:<br>
          <span>+375 17</span> 0-000-001<br>
          <span>+375 29</span> 1-000-000<br>
          <span>+375 33</span> 3-000-000<br>
          <span>+375 25</span> 1-000-000
        </p>
    <div/>
    <div class="col"></div>
  </div>
<div/>
