<div class="table table-hover">
 <div class='row'>
    <div class="col-md-12">
        <img class="mb-4" src= 'https://i.pinimg.com/originals/ab/b0/0d/abb00d63eac4b40cde91b99b480eb0f8.jpg' alt="" width="1000" height="600">
        <h1>About the resource</h1>
        <em>Уважаемые посетители сайта, предлагаем вашему вниманию наш новый проект!
        Мы посвящаем его одному из самых увлекательных занятий – чтению.
        </em>
        <span style="font-family: Arial;">
          Если вы хотите красиво и грамотно говорить, ясно и аргументировано выражать свои мысли – читайте как можно больше!
          Мышление – процесс вербальный. Мы думаем, проговаривая свои мысли. Поэтому выражать их как можно точнее – очень важно всем, независимо от рода занятий,
          и «физикам» и «лирикам». Так что, читайте больше, чтобы становиться умнее. Кроме того, мы с удовольствием предоставляем вам дискуссионную  площадку,
          где можно обсудить понравившиеся вам произведения, или наоборот, не понравившиеся. Ждем ваших вдумчивых рецензий и эмоциональных отзывов.
          Будем рады как тонким ценителям большой литературы и библиофилам, так и заядлым беллетристам и начинающим читателям, пока еще не искушенным.
          Ваши рекомендации будут очень ценны всем любителям чтения. Присоединяйтесь!
          В дальнейшем на сайте появится возможность как читать, так и скачивать различную литературу.
        </span>
        <p>Телефоны:<br>
          <span>+375 17</span> 0-000-001<br>
          <span>+375 29</span> 1-000-000<br>
          <span>+375 33</span> 3-000-000<br>
          <span>+375 25</span> 1-000-000
        </p>
    <div/>
    <div class="col"></div>
  </div>
<div/>
