<% if current_user %>
  <table class="table table-hover">
    <thead>
      <div class= "continr">
        <%= link_to 'Create new comment', new_comment_path, class: 'btn btn-primary' %>
      </div>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Comment</th>
        </tr>
    </thead>
    <tbody class="table table-info table-striped">
      <% @comments.each_with_index do |comment, index| %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td><%= link_to comment.title, comment_path(comment) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
