<div class="table table-hover container">
  <div class="col-md-12">
      <img class="mb-4" src= 'https://i.pinimg.com/originals/ab/b0/0d/abb00d63eac4b40cde91b99b480eb0f8.jpg' alt="" width="1300" height="700">
  </div>
</div>
