<div>Welcome to Sweet Dreams</div>

<div>
  You can:
  <div>
    See all
    <%= link_to 'users', users_path %>
  </div>

  <div>
    See all
    <%= link_to 'dreams', '#' %>
  </div>

  <div>
    See all
    <%= link_to 'categores', '#' %>
  </div>
</div>
