<div>Welcome to Sweet Dreams</div>

<% if current_user %>
  <div>
    You can:
    <div>
      See all
      <%= link_to 'users', users_path %>
    </div>

    <div>
      See all
      <%= link_to 'dreams', dreams_path %>
    </div>

    <div>
      See all
      <%= link_to 'categories', categories_path %>
    </div>
  </div>
<% else %>
  Please <%= link_to 'Login', new_user_session_path %>
<% end %>
